---
layout: default
title: Recent Articles
---

<div class="home-intro">
  <h1>The Nemesis Docs</h1>
  <h2>Does Wikipedia even lift?</h2>
    <p>This is the official documentation page for the Nemesis style of physical training. If you're new here, get started with our <a href="/about/">About Page</a>. Links are in the hidden sidebar on the left (toggle). And below are recent articles. Have fun!</p>
</div>

<hr />
<div class="home-recent-title-area">
<h3>Recent Articles</h3>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

